{% extends 'base.html.twig' %}

{% block title %}New Cordonnes{% endblock %}

{% block body %}
    <h1>Create new Cordonnes</h1>

    {{ include('cordonnes/_form.html.twig') }}

    <a href="{{ path('app_cordonnes_index') }}">back to list</a>
{% endblock %}
