{% extends 'base.html.twig' %}

{% block title %}New TypesAnnonce{% endblock %}

{% block body %}
    <h1>Create new TypesAnnonce</h1>

    {{ include('types_annonce/_form.html.twig') }}

    <a href="{{ path('app_types_annonce_index') }}">back to list</a>
{% endblock %}
